.cats{
    font-family: 'Roboto', sans-serif;
}
.cat{
    font-size: 60px;
    opacity:60%;
    font-weight:lighter;
}
.cat2{
    font-size: 60px;
    font-weight:bolder;
}
.spacecatslol{
    margin-left: 10px;
}